<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>

        <link rel="stylesheet" href="/css/home.css" />
        <title>Todos los modelos</title>
</head>

<body>
    <%- include("../partials/header.ejs") %>

        <main class="bg-white mt-4">
            <div class="container">
                            <div class="row">
                                <ul class="list-group">
                                    <li class="list-group-item active">Modelos</li>
                                    <% models.forEach(model => { %>
                                    <li class="list-group-item">
                                        <a href="../../brands/detail/<%= model.id %>"> <%=model.name%>   - Marca:  <%= model.marcas ? model.marcas.name : "Sin marca definida"  %></a>
                                    </li>
                                    <% }) %>
                                  </ul>
                            </div>
            </div>
        </main>

        <%- include("../partials/footer.ejs") %>
</body>