<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>

    <link rel="stylesheet" href="/css/home.css" />
    <title>Todos los productos</title>
  </head>

  <body>
    <%- include("../partials/header.ejs") %>

    <main class="bg-white mt-4">
      <div class="container">
        <% if(category){%>
        <h2>Todos los productos de <%=category.name %></h2>
        <% } else{%>
        <h2>Todos los productos</h2>
        <% } %>
        
        <% if(locals.isLogged){ %>
        <div class="row">
          <% products.forEach(product=> { %>
          <article class="cont-card col-md-3 col-sm-6">
            <div class="card m-2">
              <a href="../../products/detail/<%= product.id %>">
                <div class="box-img">
                  <img
                    class="article-img"
                    src="/img/articulos/<%=product.productImages%>"
                  />
                </div>
              </a>
              <div class="card-body card-description">
                <div class="d-flex justify-content-around">
                  <div id="favProd">
                    
                    <% if(locals.productosFavoritos &&
                    productosFavoritos.filter(x=>
                    x.product_id==product.id).length==0){ %>
                    <a href="/products/favoritos/<%= product.id %>"
                      ><i class="icon-card fa-regular fa-heart fa-2x"></i
                    ></a>
                    <% } else{ %>
                    <i
                      class="icon-card fa-solid fa-heart fa-2x selectFavorite"
                    ></i>
                    <% } %>
                  </div>
                  <p class="card-price">$ <%=product.price%></p>
                  <p class="card-discount">10% off</p>
                </div>
                <div class="sub-card position-relative">
                  <h3 class="card-title">
                    <a href="../../products/detail/<%= product.id %>">
                      <%=product.productName%>
                    </a>
                  </h3>
                </div>
              </div>
            </div>
          </article>
          <% }) %>
        </div>
        <% } else {%>
        <div class="row">
          <% products.forEach(product=> { %>
          <article class="cont-card col-md-3 col-sm-6">
            <div class="card m-2">
              <a href="../../products/detail/<%= product.id %>">
                <div class="box-img">
                  <img
                    class="article-img"
                    src="/img/articulos/<%=product.productImages%>"
                  />
                </div>
              </a>
              <div class="card-body card-description">
                <div class="d-flex justify-content-around">
                  <% if (locals.userLogged) { %>
                    
                  
                    <% if(locals.productosFavoritos &&
                    productosFavoritos.filter(x=>
                    x.product_id==product.id).length== 0){ %>
                    <a href="/products/favoritos/<%= product.id %>"
                    ><i class="icon-card fa-regular fa-heart fa-2x"></i
                    ></a>
                    <% } else{ %>
                    <i
                    class="icon-card fa-solid fa-heart fa-2x selectFavorite"
                    ></i>
                    <% } %>
                <% } else{ %>
                    <a href="/products/favoritos/<%= product.id %>"
                    ><i class="icon-card fa-regular fa-heart fa-2x"></i
                    ></a>
                                     <% } %>
                  <p class="card-price">$ <%=product.price%></p>
                  <p class="card-discount">10% off</p>
                </div>
                <div class="sub-card position-relative">
                  <h3 class="card-title">
                    <a href="../../products/detail/<%= product.id %>">
                      <%=product.productName%>
                    </a>
                  </h3>
                </div>
              </div>
            </div>
          </article>
          <% }) %>
        </div>
        <% } %>
      </div>
    </main>

    <%- include("../partials/footer.ejs") %>
    <script src="/js/productFavoritos.js"></script>
  </body>
</html>
