<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
        <link rel="stylesheet" href="/css/home.css" />
        <link rel="stylesheet" href="/css/formularios.css" />
        <title>Editar producto</title>
</head>

<body class="bg-black">
    <%- include("../partials/header.ejs") %>
        <main class="container m-15 mb-10">

            <form action="/products/edit/<%=p.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                <input type="hidden">
                <div class="row">
                    <div class="col-12">
                        <h2 class="titulo-fomulario text-center celeste-vpm">Estás editando:<i><%= p.name %></i></h2>
                    </div>
                    <div class="col-12 col-md-6">
                        <label class="form-label celeste-vpm" for="name">Nombre del producto</label>
                        <input class="form-control" type="text" id="productName" name="productName" value="<%= locals.oldData ? oldData.productName :p.productName %> ">
                        <% if (locals.errors && errors.productName) { %>
                            <div class="text-danger">
                                <%= errors.productName.msg %>
                            </div>
                            <% } %>
                    </div>
                    <div class="col-12 col-md-6">
                        <label class="form-label celeste-vpm" for="name">Descripcion del producto</label>
                        <input class="form-control" type="text" id="description" name="description" value="<%= locals.oldData ? oldData.description : p.description%>">
                        <% if (locals.errors && errors.description) { %>
                            <div class="text-danger">
                                <%= errors.description.msg %>
                            </div>
                            <% } %>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label celeste-vpm" for="models">Modelo y marca</label>
                        <select name="models" id="models" class="form-control">
                            <% for(let i=0; i<m.length; i++){ %> 
                                <% if(m[i].id === p.models_id){ %>
                                    <option value="<%= m[i].id %>" selected="selected"><%= m[i].marcas ? `Marca: ${ m[i].marcas.name } - Modelo: ${ m[i].name }` :
                                        m[i].name %></option> 
                                <% }else{ %>
                                   <option value="<%= m[i].id %>"><%= m[i].marcas ? `Marca: ${ m[i].marcas.name } - Modelo: ${ m[i].name }` :
                                    m[i].name %></option> 
                                <% } } %> 
                                <% if (locals.errors && errors.models) { %>
                                    <div class="text-danger">
                                        <%= errors.models.msg %>
                                    </div>
                                    <% } %>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label celeste-vpm" for="price">Precio</label>
                        <input class="form-control" type="text" id="price" name="price" value="<%= p.price %>">
                        <% if (locals.errors && errors.price) { %>
                            <div class="text-danger">
                                <%= errors.price.msg %>
                            </div>
                            <% } %>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label celeste-vpm" for="minBuy">Minimo a comprar</label>
                        <input class="form-control" type="text" id="minBuy" name="minBuy" value="<%= p.minBuy %>">
                        <% if (locals.errors && errors.minBuy) { %>
                            <div class="text-danger">
                                <%= errors.minBuy.msg %>
                            </div>
                            <% } %>

                    </div>
                    <div class="col-md-6">
                        <label class="form-label celeste-vpm" for="category">Categoria</label>
                        <select name="category" id="category" class="form-control">
                            <% for(let i=0; i<c.length; i++){ %> 
                            <option value="<%= c[i].id %>"><%= c[i].name %></option> 
                                <% } %> 
                        </select>
                        <% if (locals.errors && errors.category) { %>
                            <div class="text-danger">
                                <%= errors.category.msg %>
                            </div>
                            <% } %>
                    </div>
                    <div class="col-md-6"><label class="form-label celeste-vpm" for="img">Imagen</label>
                        <input class="form-control" type="file" id="img" name="img" value="">
                        <% if (locals.errors && errors.productImages) { %>
                            <div class="text-danger">
                                <%= errors.productImages.msg %>
                            </div>
                            <% } %>
                    </div>
                    <div class="col-12 d-flex justify-content-center mt-5">
                        <button class=" btn btn-outline-info w-50 " type="submit ">Guardar cambios</button>
                    </div>
                </div>

            </form>
            <form action="/products/delete/<%=p.id%>?_method=delete" method="POST" id="cuidadoAlEliminar">
                <div class="col-12 d-flex justify-content-center mt-5">
                    <button class="btn btn-secondary mb-5 w-50" type="submit" >Eliminar producto</button>
            </form>
            </div>

        </main>
        <%- include("../partials/footer.ejs") %>
        <script src="/js/eliminarProducto.js"></script>

</html>