<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
        <link rel="stylesheet" href="/css/formularios.css" />
        <title>Registro</title>

</head>

<body class="bg-black">
    <%- include("../partials/header.ejs") %>
        <main class="container m-15 mb-10">
            <div>
                <h1 class="titulo-fomulario text-center celeste-vpm">Perfil de usuario</span></h1>
            </div>
            <div class="mb-3 avatar-container">
                <div class="avatar-sub-container">
                <label for="avatar" class="form-label celeste-vpm">Imagen actual</label>
                <img src="/img/users/avatars/<%= u.companyImg%>" id="avatar" alt="avatar" class="avatar-mw-50">
                </div>
            </div>
            <form method="POST" action="/users/edit/<%=u.id%>?_method=PUT" enctype="multipart/form-data">
                <div class="row">
                    <div class="mb-3">
                        <label for="username" class="form-label celeste-vpm">Nombre de usuario</label>
                        <input type="text" class="form-control" id="username" value="<%= u.userName%>" name="userName" placeholder="Ingrese caracteres alfanuméricos, guiones o guiones bajos" required>
                    </div>
                    <div class="mb-3 col-md-6 col-lg-6">
                        <label for="firstName" class="form-label celeste-vpm">Nombre</label>
                        <input type="text" class="form-control" id="firstName" value="<%= u.firstName%>" name="firstName" required>
                    </div>

                    <div class="mb-3 col-md-6 col-lg-6">
                        <label for="lastName" class="form-label celeste-vpm">Apellido</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" value="<%= u.lastName%>" required>
                    </div>
                    <div class="mb-3 col-md-6 col-lg-6">
                        <label for="businessName" class="form-label celeste-vpm">Nombre de la empresa</label>
                        <input type="text" class="form-control" id="businessName" value="<%= u.companyName%>" name="companyName">
                    </div>

                    <div class="mb-3 col-md-6 col-lg-6">
                        <label for="businessId" class="form-label celeste-vpm">Cuit</label>
                        <input type="text" class="form-control" id="businessId" name="cuit" value="<%= u.cuit%>" placeholder="xx-xxxxxxxx-x" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label celeste-vpm">Email</label>
                        <input type="email" class="form-control" id="email" name="email" value="<%= u.email%>" placeholder="nombre@ejemplo.com.ar" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label celeste-vpm">Contraseña</label>
                        <input type="text" class="form-control" name="password" id="password" placeholder="Agregue una contraseña para cambiarla">
                    </div>
                    <div class="mb-3">
                        <label for="passwordRepeat" class="form-label celeste-vpm">Repita la contraseña</label>
                        <input type="text" class="form-control" name="passwordRepeat" id="passwordRepeat" placeholder="Repita la contraseña">
                    </div>
                    <div class="mb-3">
                        <label for="contact" class="form-label celeste-vpm">Teléfono</label>
                        <input type="tel" class="form-control" name="contact" value="<%= u.phoneNumber%>" id="contact" required>
                    </div>
                    <div class="mb-3">
                        <label for="img" class="form-label celeste-vpm">Imagen de perfil</label>
                        <input class="form-control" type="file" id="img" name="img" placeholder="Cambiar de imagen de perfil">
                    </div>
                   
                    
                    <div class="d-flex justify-content-center mt-5"><button type="submit" class="btn btn-outline-info mb-3 w-50">Modificar</button>
                    </div>
                </div>
            </form>
            <form action="/users/delete/<%=u.id%>?_method=delete" method="POST">
                <div class="col-12 d-flex justify-content-center">
                <button class="btn btn-secondary mb-5 w-50" type="submit">Eliminar usuario</button>
            </form>


        </main>
        <%- include("../partials/footer.ejs") %>
</body>

</html>